.abt-container {
  background-color: #fff;
  position: relative;
  z-index: 60;
  min-height: 100vh;
  /* border: 2px solid blue; */
}

.container-one {
  background: url(../../assets/land.jpg) no-repeat center;
  transition: all 0.9s cubic-bezier(0.7, 0.44, 0.58, 1);
  height: 100vh;
  padding: 55px 105px;
}

.container-one .text-in {
  color: #fff;
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 70px;
  word-spacing: 1px;
  transform-origin: left top;
  font-family: "Comic Neue", cursive;
  transition: 0.5s ease-in;
}
.container-one .text {
  color: #9ecdd1;
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 70px;
  word-spacing: 1px;
  transform: scale(0.8);
  transform-origin: left top;
  transition: 0.5s ease-out;
  font-family: "Comic Neue", cursive;
}
.container-two {
  z-index: 90;
  position: absolute;
  right: 15vh;
  left: 15vh;
  background: url(../../assets/dots-torquoise.svg),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1));
  background-size: 150px auto, contain;
  background-position: 100px top, center center;
  background-repeat: repeat-y, repeat;
  height: 350px;
  border-radius: 17px;
}
.container-two.slide-up {
  transform: translate(0, -260px);
  transition: 0.5s ease-out 0.2s;
}
.container-two.slide-down {
  transform: translate(0, -20px);
  transition: 0.5s ease-out;
}
.container-two h2 {
  font-size: 7.5rem;
  margin-top: 15px;
  margin-left: 90px;
  font-family: "Comic Neue", cursive;
}
.container-two .text {
  line-height: 40px;
  transform: translateX(270px);
  font-size: 1.5rem;
  font-weight: 300;
  color: grey;
  font-family: "Comic Neue", cursive;
  word-wrap: break-word;
  line-break: normal;
  width: 750px;
}

.container-three {
  z-index: 90;
  right: 0;
  left: 0;
  position: absolute;
  transform: translateY(240px);
  height: 750px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
  padding: 10px 135px;
  /* border: 2px solid green; */
}

.item-one {
  width: 40%;
  height: 520px;
  display: flex;
  flex-flow: column wrap;
}
.item-one .content {
  height: 135px;
  margin: 10px;
  margin-top: 25px;
  z-index: 91;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 15px;
  /* border: 1px solid rgba(36, 56, 58, 0.3); */
  box-shadow: 0px 10px 5px -5px rgba(22, 188, 196, 0.2);
}
.item-one .content h6 {
  color: rgb(29, 188, 196);
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Comic Neue", cursive;
}
.item-one .content span {
  color: grey;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Comic Neue", cursive;
  line-height: 25px;
}

.item-two {
  width: 40%;
  /* border: 2px solid blue; */
  position: relative;
  height: 500px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../assets/dots.svg);
  background-position: center, center;
  background-size: 30%, 30%;
}
.item-two .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: -70px;
  right: 60px;
}

.container-four {
  z-index: 75;
  right: 0;
  left: 0;
  position: absolute;
  transform: translateY(150%);
  height: 660px;
  padding: 10px 15px;
  padding: 10px 85px;
  background: url(../../assets/about.svg);
  /* border: 2px solid green; */
}

.deli-atrr {
  /* border: 2px solid red; */
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}
.deli-atrr h2 {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  font-size: 3.2rem;
  color: #08c8d5;
  position: relative;
}
.deli-atrr h2::before {
  content: "We";
  position: absolute;
  transform: translateX(-80px);
  color: #000;
}

.deli-box {
  padding: 10px 15px;
  display: flex;
  flex-flow: row wrap;

  text-align: center;
  align-items: center;
  max-width: 100%;
  align-content: center;
}

.deli-box.two {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.item-box {
  width: 22%;
  padding: 10px;
  height: 190px;
  text-align: center;
  border-radius: 17px;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
  margin: 10px;
  margin-top: 20px;
  align-self: end;
}

.item-box img {
  width: 65px;
  height: 65px;
  position: absolute;
  transform: translate(-58px, 35px);
}

.item-box div {
  transform: translate(0px, 120px);
  padding: 5px;
  font-weight: 200;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  color: #08c8d5;
}
.item-box.one {
  background: url(../../assets/friends.svg), #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.item-box.two {
  background: url(../../assets/speed.svg) #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.item-box.three {
  background: url(../../assets/head.svg) #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.item-box.four {
  background: url(../../assets/bulb.svg) #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.message {
  text-align: center;
  margin: 15px;
  padding: 10px;
}
.message span {
  color: #000;
  font-family: "Comic Neue", cursive;
  font-size: 1.7rem;
  font-weight: 800;
}
.message span > .far {
  background-color: #000;
}

.testimonial-slider {
  z-index: 75;
  right: 0;
  left: 0;
  transform: translateY(1657px);
  height: 520px;
  width: 100%;
  padding: 5px 125px;
  background: url(../../assets/about.svg);
  overflow: hidden;
}
.slide-con {
  width: 100%;
  padding: 5px 25px;
  position: relative;
  /* border: 2px solid green; */
  height: 350px;
}

.slider {
  margin: 0 25px;
  left: -50%;
  width: calc(50% - 50px);
  padding: 25px 10px;
  border-radius: 17px;
  height: 280px;
  color: #fff;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
  background-color: #22ced9;
  text-align: center;
  filter: blur(2px);
  position: absolute;
  transform: scale(0.9);
  transition: all ease-in-out 0.5s;
}
.slider.active-first {
  filter: blur(0px);
  transform: scale(1);
  left: 0;
}

.slider.active-second {
  filter: blur(0px);
  left: 50%;
  transform: scale(1);
}

.slider.active-second ~ .slider {
  filter: blur(2px);
  left: 100%;
  transform: scale(0.9);
}

.slider blockquote {
  padding: 5px;
  font-weight: 100;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}

.slider .profile {
  display: inline-block;
  width: 100%;
}

.slider .profile .title {
  display: inline-block;
  width: 60%;
  height: 60px;
}
.slider .profile .title span {
  margin: 5px;
  padding: 10px;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  line-height: 27px;
}
.slider .profile .title span.ceo {
  font-size: 0.8rem;
  font-weight: 800;
}
.slider .profile .img-con {
  display: inline-block;
  width: 15%;
  height: 60px;
  transform: translateY(5px);
}
.slider .profile .img-con img {
  width: 50px;
  height: 50px;
  border-radius: 17px;
}

.controls {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.controls .slider-controls {
  padding: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.slider-controls > button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  cursor: pointer;
}
.slider-controls > button.next {
  transform: translateX(70px);
}
.slider-controls > button > .fas {
  color: #db929d;
  font-size: 24px;
}

.slider-dots {
  width: 100px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  /* transform: translate(50px, 140px); */
  justify-content: space-between;
  align-items: center;
}

.slider-dots .dot {
  width: 20px;
  color: #22ced9;
  background-color: rgba(228, 194, 209, 0.4);
  padding: 5px;
  margin: 10px;
  line-height: 22px;
  background-color: transparent;
  height: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  z-index: 101;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.slider-dots .dot::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  background-color: #22ced9;
}

.slider-dots .dot:hover::after {
  transform: scale(1.2);
}

.slider-dots .dot.active {
  border-color: #22ced9;
  border-radius: 100%;
  cursor: pointer;
}

.testimonial-slider .messages {
  text-align: center;
  padding: 10px;
}
.messages span {
  padding: 5px;
  color: #22ced9;
  font-size: 1rem;
  font-weight: 900;
  /* letter-spacing: 1px; */
  font-family: "Comic Neue", cursive;
}

.container-five {
  border: 2px solid red;
  transform: translateY(1658px);
  height: 500px;
  z-index: 80;
  position: absolute;
  right: 15vh;
  left: 15vh;
}
.logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 10px;
}
.w-15 {
  width: 15%;

  margin-top: 10px;
  text-align: center;
}

.w-15 img {
  width: 160px;
  filter: grayscale(90%);
  transform: scale(0.9);
  height: 100px;
  transform-origin: center;
  transition: all ease-in-out 0.7s;
  cursor: pointer;
}

.w-15 img:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
}
.contact {
  border: 2px solid blue;
  margin-top: 10px;
}

.message-two {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../assets/dots-torquoise.svg);
  background-position: center, center;
  background-size: 30%, 30%;
}
