.abt-container {
  background-color: #fff;
  position: relative;
  z-index: 40;
  min-height: 100vh;
  width: 100%;
}

.mar-bt {
  margin-bottom: 95vh;
  background-color: #fff;
}
.container-one {
  background: url(../../assets/girl.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.9s cubic-bezier(0.7, 0.44, 0.58, 1);
  height: 100vh;
  padding: 55px 105px;
}

.container-one .text-in {
  color: #fff;
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 70px;
  word-spacing: 1px;
  transform-origin: left top;
  font-family: "Comic Neue", cursive;
  transition: 0.5s ease-in;
}
.container-one .text {
  color: #9ecdd1;
  line-height: 78px;
  font-weight: 600;
  font-size: 70px;
  margin: 5px;
  padding: 5px;
  margin-top: 70px;
  word-spacing: 1px;
  transform: scale(0.8);
  transform-origin: left top;
  transition: 0.5s ease-out;
  font-family: "Comic Neue", cursive;
}
.container-two {
  z-index: 90;
  position: absolute;
  right: 15vh;
  left: 15vh;

  background: url(../../assets/dots-torquoise.svg),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1));
  background-size: 150px auto, contain;
  background-position: 100px top, center center;
  background-repeat: repeat-y, repeat;
  height: 480px;
  border-radius: 17px;
}
.container-two.slide-up {
  transform: translate(0, -380px);
  transition: 0.5s ease-out 0.2s;
}
.container-two.slide-down {
  transform: translate(0, -20px);
  transition: 0.5s ease-out;
}
.container-two h2 {
  font-size: 7.7rem;
  margin-top: 15px;
  margin-left: 90px;
  font-family: "Comic Neue", cursive;
}
.container-two .text {
  line-height: 40px;
  transform: translateX(270px);
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  font-family: "Montserrat", sans-serif;
  word-wrap: break-word;
  line-break: normal;
  width: 750px;
}

.container-three {
  z-index: 90;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 230px 155px;
}

.item-one {
  width: 40%;
  /* height: 520px; */
  display: flex;
  flex-flow: column wrap;
}
.item-one .content {
  height: 145px;
  margin: 10px;
  margin-top: 10px;
  z-index: 91;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 15px;
  /* border: 1px solid rgba(36, 56, 58, 0.3); */
  box-shadow: 0px 10px 5px -5px rgba(22, 188, 196, 0.2);
}
.item-one .content h6 {
  color: rgb(29, 188, 196);
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Comic Neue", cursive;
}
.item-one .content span {
  color: #333;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}

.item-two {
  width: 40%;

  position: relative;
  height: 420px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    ),
    url(../../assets/dots.svg);
  background-position: center, center;
  background-size: 30%, 30%;
}
.item-two .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  top: -70px;
  right: 60px;
}

.container-four {
  z-index: 90;
  /* height: 665px; */

  background: url(../../assets/about.svg);
}

.deli-atrr {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 30px;
}
.deli-atrr h2 {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  font-size: 3.2rem;
  color: #08c8d5;
  position: relative;
  line-height: 1;
  margin-top: 15px;
}
.deli-atrr h2::before {
  content: "We";
  position: absolute;
  transform: translateX(-80px);
  color: #000;
}

.deli-box {
  display: flex;
  align-self: stretch;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

/* .deli-box.two {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
} */
.item-box {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0 20px 20px -20px rgba(8, 200, 213, 0.2);
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.item-box img {
  width: 100px;
}

.item-box div {
  padding: 5px;
  font-weight: 200;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  color: #08c8d5;
}

.message {
  margin: 10px;
  padding: 10px;
}
.message span {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
}
.message span > .far {
  background-color: #000;
}

.testimonial-slider {
  z-index: 90;
  margin-top: 25px;

  width: 100%;
  padding: 5px 125px;
  background: url(../../assets/about.svg);
  /* border: 2px solid green; */
  overflow: hidden;
}
.slide-con {
  width: 100%;
  padding: 15px 25px;
  position: relative;

  height: 350px;
}

.slider {
  margin: 10px 25px;
  left: -50%;
  width: calc(50% - 50px);
  padding: 35px;
  border-radius: 17px;
  height: 280px;
  color: #fff;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
  background-color: #22ced9;
  text-align: center;
  filter: blur(2px);
  position: absolute;
  transform-origin: center;
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.92, 0.14, 0.34, 0.16);
}
.slider.active-first {
  filter: blur(0px);
  transform: scale(1);
  left: 0;
}

.slider.active-second {
  filter: blur(0px);
  left: 50%;
  transform: scale(1);
}

.slider.active-second ~ .slider {
  filter: blur(2px);
  left: 100%;
  transform: scale(0.9);
}

.slider blockquote {
  padding: 5px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}

.slider .profile {
  display: inline-block;
  width: 100%;
}

.slider .profile .title {
  display: inline-block;
  width: 60%;
  height: 60px;
}
.slider .profile .title span {
  margin: 5px;
  padding: 10px;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  line-height: 27px;
}
.slider .profile .title span.ceo {
  font-size: 0.8rem;
  font-weight: 800;
}
.slider .profile .img-con {
  display: inline-block;
  width: 15%;
  height: 60px;
  transform: translateY(5px);
}
.slider .profile .img-con img {
  width: 50px;
  height: 50px;
  border-radius: 17px;
}

.controls {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.controls .slider-controls {
  padding: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.slider-controls > button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  cursor: pointer;
}
.slider-controls > button.next {
  transform: translateX(70px);
}
.slider-controls > button > .fas {
  color: #db929d;
  font-size: 24px;
}

.slider-dots {
  width: 100px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  /* transform: translate(50px, 140px); */
  justify-content: space-between;
  align-items: center;
}

.slider-dots .dot {
  width: 20px;
  color: #22ced9;
  background-color: rgba(228, 194, 209, 0.4);
  padding: 5px;
  margin: 10px;
  line-height: 22px;
  background-color: transparent;
  height: 20px;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;

  position: relative;
  transition: all 0.3s ease-in-out;
}
.slider-dots .dot::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  background-color: #22ced9;
}

.slider-dots .dot:hover::after {
  transform: scale(1.2);
}

.slider-dots .dot.active {
  border-color: #22ced9;
  border-radius: 100%;
  cursor: pointer;
}

.testimonial-slider .messages {
  text-align: center;
  padding: 10px;
}
.messages span {
  padding: 5px;
  color: #22ced9;
  font-size: 1rem;
  font-weight: 900;
  /* letter-spacing: 1px; */
  font-family: "Montserrat", sans-serif;
}

.container-five {
  z-index: 90;
  padding: 10px 95px;

  background-color: transparent;
}
.logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 10px;
}
.w-15 {
  width: 15%;

  margin-top: 10px;
  text-align: center;
}

.w-15 img {
  width: 100px;
  filter: grayscale(90%);
  transform: scale(0.9);
  /* height: 100px; */
  transform-origin: center;
  transition: all ease-in-out 0.7s;
  cursor: pointer;
}

.w-15 img:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
}
.contact {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 35px 10px;
  height: 500px;
}
.message-one {
  padding: 55px 75px;
  width: 60%;

  height: 350px;
  /* display: block; */
}
.message-one h3 {
  font-family: "Comic Neue", cursive;
  font-size: 3rem;
  line-height: 40px;
  padding: 5px;
  margin-bottom: 15px;
}
.message-one span {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 5px;
}
.message-one button {
  display: block;
  margin-top: 25px;
  padding: 10px 45px;
  font-family: "Comic Neue", cursive;
  color: #fff;
  font-size: 1rem;
  background: linear-gradient(to right, #09c5d3, #c49f1c);
  border: none;
  outline: 0;
  border-radius: 20px;
}
.message-two {
  height: 350px;
  width: 35%;
  background: url(../../assets/dots-torquoise.svg);
  background-position: center;
  background-size: 50%, 50%;
  position: relative;
}
.message-two img {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 45px;
  bottom: 45px;
  border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .container-one {
    padding: 70px 90px 0;
    height: 50vh;
  }
  .container-one .text {
    font-size: 6rem;
    line-height: 1.3;
  }
  .container-two {
    height: auto;
    left: 35px;
    right: 35px;
    padding: 10px 15px;
  }
  .container-two.slide-up {
    transform: translateY(-250px);
  }
  .container-two h2 {
    font-size: 5rem;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Comic Neue", cursive;
  }
  .container-two .text {
    line-height: 1.7;
    transform: translateX(0);
    font-size: 1.7rem;
    font-weight: 300;
    color: #333;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
    line-break: normal;
    width: 65%;
    margin: 10px auto;
  }
  .container-three {
    margin-top: 320px;
    padding: 15px;
    background: #fff;
    padding: 20px;
  }
  .item-one {
    width: 50%;
  }
  .item-two {
    height: 550px;
  }
  .item-one .content h6 {
    font-size: 1.3rem;
  }
  .item-one .content span {
    font-size: 0.9rem;
  }

  .container-five {
    padding: 20px;
  }
  .message-one {
    width: 65%;
    padding: 15px 10px;
  }
  .message-one span {
    line-height: 2;
  }
  .message-two {
    width: 35%;
  }
  .message-two img {
    right: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .container-one {
    padding: 50px;
  }
  .container-one .text {
    font-size: 5.5rem;
    line-height: 1.2;
  }
  .container-two {
    height: 630px;
    left: 40px;
    right: 40px;
    padding: 10px 30px;
  }
  .container-two.slide-up {
    transform: translateY(-150px);
    background-size: 30% 105px;
    background-position: top left;
  }
  .container-two h2 {
    font-size: 4rem;
    margin-top: 15px;
    margin-left: 10px;
    font-family: "Comic Neue", cursive;
  }
  .container-two .text {
    line-height: 1.7;
    transform: translateX(0);
    font-size: 1.7rem;
    font-weight: 300;
    color: #333;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
    line-break: normal;
    width: 80%;
    margin: 10px auto;
  }
  .container-three {
    margin-top: 580px;
    margin-bottom: 60px;
    padding: 20px;
  }
  .item-one {
    width: 50%;
  }
  .item-two {
    height: 400px;
  }
  .item-one .content h6 {
    font-size: 1.3rem;
  }
  .item-one .content span {
    font-size: 0.9rem;
  }
  .container-four {
    padding: 20px;
  }
  .deli-atrr {
    padding: 10px;
  }
  .deli-box {
  }
  .deli-box h2 {
    margin-top: 10;
  }
  .item-box {
    width: 100px;
    height: 100px;
  }
  .testimonial-slider {
    padding: 15px 90px;
  }
  .slider {
    width: calc(70% - 50px) !important;
    height: 300px;
    padding: 20px 10px;
    left: -65% !important;
  }
  .slider.active-first {
    filter: blur(0px);
    transform: scale(1);
    left: 10% !important;
  }
  .slider.active-second {
    filter: blur(2px);
    left: 85% !important;
    transform: scale(1);
  }

  .slider.active-second ~ .slider {
    filter: blur(2px);
    left: 130% !important;
    transform: scale(0.9);
  }
  .container-five {
    padding: 20px;
  }
  .message-one {
    width: 50%;
    padding: 15px 10px;
  }
  .message-one span {
    line-height: 2;
  }
  .message-two {
    width: 50%;
  }
  .message-two img {
    right: 11px;
  }
}

@media only screen and (max-width: 512px) {
  .container-one {
    padding: 20px;
  }
  .container-one .text {
    font-size: 3rem;
    line-height: 1.2;
  }
  .container-two {
    height: 600px;
    left: 35px;
    padding: 10px;
    right: 35px;
    height: 480px;
    border: 2px solid red;
  }
  .container-two.slide-up {
    transform: translateY(-100px);
    background-size: 30% 95px;
    background-repeat: no-repeat;
    background-position: top left;
  }
  .container-two h2 {
    font-size: 3.5rem;
    margin-top: 15px;
    margin-left: 15px;
    font-family: "Comic Neue", cursive;
  }
  .container-two .text {
    line-height: 1.7;
    transform: translateX(0);
    font-size: 1rem;
    font-weight: 300;
    color: #333;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
    line-break: normal;
    width: 100%;
    margin: 10px auto;
  }
  .container-three {
    margin-top: 520px;
    margin-bottom: 60px;
    padding: 10px;
  }
  .item-one {
    width: 100%;
  }
  .item-two {
    width: 80%;
    height: 380px;
    margin-top: 35px;
  }
  .item-two .img {
    left: 10px;
  }
  .deli-atrr {
    padding: 10px;
  }
  .deli-box {
  }
  .deli-atrr h2 {
    margin-top: 10;
    font-size: 1.8rem;
  }
  .deli-atrr h2::before {
    content: "We";
    position: absolute;
    transform: translateX(-58px);
    color: #000;
  }
  .item-box {
    width: 100px;
    height: 100px;
  }
  .testimonial-slider {
    padding: 15px 90px;
  }
  .testimonial-slider {
    padding: 15px;
  }
  .slider {
    width: 90% !important;
    height: 300px;
    padding: 20px 10px;
    left: -105% !important;
  }
  .slider.active-first {
    filter: blur(0px);
    transform: scale(1);
    left: 0% !important;
  }
  .slider.active-second {
    filter: blur(2px);
    left: 125% !important;
    transform: scale(1);
  }

  .slider.active-second ~ .slider {
    filter: blur(2px);
    left: 150% !important;
    transform: scale(0.9);
  }
  .container-five {
    z-index: 90;
    padding: 10px;

    background-color: transparent;
  }
  .logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 10px;
  }
  .w-15 {
    width: 35%;

    margin-top: 10px;
    text-align: center;
  }
  .message-two img {
    position: absolute;
    right: 14px;
    bottom: 45px;
    border-radius: 20px;
  }

  .container-five {
    padding: 10px;
    /* height: 100%; */
  }
  .contact {
    display: block;
    height: auto;
  }
  .message-one {
    width: 100%;
    padding: 15px 10px;
    height: 400px;
  }
  .message-one span {
    line-height: 2;
    font-size: 0.9rem;
  }
  .message-two {
    width: 100%;
  }
}
