.container-four {
  z-index: 70;
  right: 0;
  left: 0;
  position: absolute;
  transform: translateY(147%);
  min-height: 100vh;
  border: 2px solid green;
  padding: 10px 15px;
  padding: 10px 145px;
  background: url(../../assets/about.svg);
}

.deli-atrr {
  /* border: 2px solid red; */
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}
.deli-atrr h2 {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  font-size: 3.2rem;
  color: #08c8d5;
  position: relative;
}
.deli-atrr h2::before {
  content: "We";
  position: absolute;
  transform: translateX(-80px);
  color: #000;
}

.deli-box {
  padding: 10px 15px;
  display: flex;
  flex-flow: row wrap;

  text-align: center;
  align-items: center;
  max-width: 100%;
  align-content: center;
}

.deli-box.two {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.item-box {
  width: 22%;
  padding: 10px;
  height: 190px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
  margin: 10px;
  margin-top: 20px;
  align-self: end;
}

.item-box img {
  width: 65px;
  height: 65px;
  position: absolute;
  transform: translate(-58px, 35px);
}

.item-box div {
  transform: translate(0px, 120px);
  padding: 5px;
  font-weight: 200;
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
  color: #08c8d5;
}
.item-box.one {
  background: url(../../assets/friends.svg), #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.item-box.two {
  background: url(../../assets/speed.svg) #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.item-box.three {
  background: url(../../assets/head.svg) #fff;
  background-position: center;
  background-repeat: no-repeat;
}

.item-box.four {
  background: url(../../assets/bulb.svg) #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
