.footer {
  height: 100vh;
  width: 100%;
  padding: 10px 0px;
  top: 45px;
  left: 0;
  position: fixed;
  z-index: -1;
}
.foot-first {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  width: 100%;
  /* height: 550px; */
  padding: 15px 20px;
}
.side-one {
  width: 45%;
  height: 85%;
  padding: 30px 15px;
  text-align: center;
}
.side-one .word {
  word-break: break-all;
  word-wrap: break-word;
  padding: 5px;
}

.side-one .word p {
  color: #333;
  line-height: 1.7;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.side-one .word .values {
  text-align: left;
  width: 49%;
  margin: 25px auto;
  padding: 5px;
}
.side-one .word .values h6 {
  font-size: 1.2rem;
  font-family: "Comic Neue", cursive;
  padding: 2px;
  font-weight: 400;
}
.side-one .word .values p {
  margin-left: 36px;
}
.side-one .word .values p span {
  font-size: 1rem;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}
.side-two {
  width: 50%;
  height: 85%;
  padding: 10px 15px;
}
.side-two .value {
  margin-top: 5px;
  padding: 5px;
}

.side-two h6 {
  font-size: 1.2rem;
  font-family: "Comic Neue", cursive;
  padding: 2px;
  font-weight: 400;
}

.side-two .value ul {
  display: block;

  padding: 5px;
}
.value ul > li {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  position: static;
  margin: 2px;
  color: #333;
  font-weight: 600;
  line-height: 25px;
  margin-left: 35px;
}

.link {
  margin-left: 16px;
  margin-top: 10px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  color: #22ced9;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.dir {
  list-style: none;
}

.black {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  width: 100%;
  height: 45px;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  margin-top: -128px;
  padding: 10px 5px;
  position: fixed;
}

@media only screen and (max-width: 1200px) {
  .footer {
    top: 100px;
  }
  .foot-first {
    /* border: 4px solid purple; */
    display: block;
    padding: 10 15px;
  }
  .black {
    margin-top: 455px;
  }
  .side-one,
  .side-two {
    width: 100%;
  }
  .side-one {
    text-align: left;
    padding: 15px 10px;
  }
  .side-one .word .values {
    margin: 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    top: 100px;
  }
  .foot-first {
    /* border: 4px solid purple; */
    display: block;
    padding: 10 15px;
  }
  .black {
    margin-top: 60px;
  }
  .side-one,
  .side-two {
    width: 100%;
    height: 100%;
  }
  .side-one {
    text-align: left;
    padding: 15px 10px;
  }
  .side-one .word .values {
    margin: 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 512px) {
  .footer {
    top: 100px;
    border: 4px solid purple;
  }
  .foot-first {
    display: block;
    padding: 10px;
  }
  .black {
    margin-top: 80px;
    max-width: 100%;
  }
  .side-one,
  .side-two {
    width: 100%;
  }
  .side-one {
    display: none;
  }
  .side-one .word .values {
    margin: 10px;
    width: 100%;
    position: fixed;
  }
  .value ul > li {
    font-size: 0.8rem;
  }
}
