header {
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  /* flex-flow: row wrap; */
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header.absolute {
  position: absolute;
  transition: all 0.2s ease-in;
}
header.fixed {
  position: fixed;
  transition: all 0.2s ease-out;
  background: #fff;
  box-shadow: 2px 12px 75px rgba(77, 0, 102, 0.1);
}

.image-con {
  width: 20%;
  height: 70px;
}
ul {
  width: 60%;
  color: #cf7402;
  padding: 10px 20px;
  text-align: right;
  height: 70px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  padding: 5px;
  /* margin-top: 15px; */
}

.far,
.pho {
  margin-right: 5px;
  font-size: 12px;
  margin-bottom: 15px;
}

img {
  object-fit: cover;
  /* transform: scale(0.3); */
  color: #fff;
  /* border: 2px solid green; */
  width: 200px;
}
